@import url("https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css");

html{
    background: #30303c;
    font-family: Bahnschrift;
    padding:0 5em;
}
input,textarea{
    border: none;
}
h1#logo{
    font-size: 50px;
}
.mail,text,a{
    font-size: 30px;
}
h1,text{
    color: white;
}
a{
    color: yellowgreen;
    text-decoration: none;
}
a:hover{
    color: greenyellow;
}
text,h1{
    font-family: Bahnschrift;
}
textarea{
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0px;
    height: 40%;
    resize: none;
    margin: 0px;
}
input{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    padding: 3px;
}
.submit{
    border-radius: 0px 0px 10px 10px;
}
.finput{width:99.556%;}

a:hover{
    color: aliceblue;
    text-decoration: none;
}
footer{color:white;font-size:large;text-align:center;}footer a{font-size:large;}
pre.rules{font-size:30px;font-family:Bahnschrift;}
@media (orientation: portrait){
    text,h1,a,input{
        font-size: 30px;
    }
    textarea{
        font-size: 20px;
    }
}